<!-- edit_info.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="registration-container" align="center">
    <h1>Edit User Info</h1>

    <form th:action="@{/update-info}" th:object="${userRegistrationDto}" method="post">
        <label class="registration-text">E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>

        <label class="registration-text">Address:</label>
        <input type="text" th:field="*{address}" /><br/>

        <label class="registration-text">Phone Number:</label>
        <input type="text" th:field="*{number}" /><br/>

        <label class="registration-text">Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <button type="submit">Update Info</button>
    </form>

</div>
</body>
</html>
